.Rproj.user
.Rhistory
.RData
.Ruserdata
.secrets/

# some files for fixing
R/fix_*

# data
data/*
#*/Dictionary/*
#*/Fixed\ names\ Mzml/*
#*/Tuning/*
#*/Wiff\+Mzml/*
!data/Database
data/Database/*
!data/Database/SampleMasterfile.xlsx
!data/Database/*
data/Database/*/*
!data/Database/*/NLA*_output_merge.xlsx

# no temporary files
.~*

# ignore sass cache key file
.sass_cache_keys

# ignore shinyapps.io
soda-light.dcf
